socket-backend/*.exe
socket-backend/*.exe~
socket-backend/*.dll
socket-backend/*.so
socket-backend/*.dylib
socket-backend/*.test
socket-backend/*.out
socket-backend/go.work
socket-backend/go.work.sum
socket-backend/.env
socket-backend/.idea

react-frontend/logs
react-frontend/*.log
react-frontend/npm-debug.log*
react-frontend/-debug.log*
react-frontend/yarn-error.log*
react-frontend/pnpm-debug.log*
react-frontend/lerna-debug.log*
react-frontend/node_modules
react-frontend/dist
react-frontend/dist-ssr
react-frontend/*.local
react-frontend/.vscode/*
react-frontend/!.vscode/extensions.json
react-frontend/.idea
react-frontend/.DS_Store
react-frontend/*.suo
react-frontend/*.ntvs*
react-frontend/*.njsproj
react-frontend/*.sln
react-frontend/*.sw?

.idea